<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客服</title>
    <script src="../../static/js/vue.min.js"></script>
    <script src="../../static/js/setSize.js"></script>
    <script src="../common/menu.js"></script>
    <link rel="stylesheet" href="../../static/css/menu.css">
    <link rel="stylesheet" href="../../static/css/reset.css">
</head>
<style>

</style>
<body>
<div class="page_box" id="app">
    <div class="page_head">客服中心</div>
    <div class="container">

    </div>
    <bottom-menu :menu='1'></bottom-menu>
</div>
</body>
<script>
    var app = new Vue({
        el: '#app',
        data: {
        },
        mounted: function () {

        },

        methods: {

        }
    })
</script>
</html>
